@charset "UTF-8";
@font-face {
  font-family: ‘Roboto-Regular’;
  src: url("/assets/fonts/Roboto-Regular.ttf") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  transition: all ease-in-out 300ms;
}

html, body {
  font-family: "Roboto-Regular", sans-serif;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

ul li {
  list-style: none;
  margin: 0px;
}

.clearfloats {
  clear: both;
}

.cas-body {
  display: flex;
  flex-direction: row;
}
.cas-body .navbar {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 60px;
}
@media screen and (min-width: 1024px) {
  .cas-body .navbar {
    min-width: 150px;
    border-right: 1px solid #fff;
  }
}
@media screen and (min-width: 1366px) {
  .cas-body .navbar {
    min-width: 200px;
  }
}
@media screen and (min-width: 1920px) {
  .cas-body .navbar {
    min-width: 300px;
  }
}
.cas-body .container-main {
  height: 100%;
  width: 100%;
}
.cas-body .container-main .container-home,
.cas-body .container-main .container-acerca,
.cas-body .container-main .container-sustentabilidad,
.cas-body .container-main .container-productos,
.cas-body .container-main .container-contacto {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  transition: all ease-in-out 3000ms;
  padding: 0px 15px;
}
@media screen and (min-width: 1024px) {
  .cas-body .container-main .container-home,
.cas-body .container-main .container-acerca,
.cas-body .container-main .container-sustentabilidad,
.cas-body .container-main .container-productos,
.cas-body .container-main .container-contacto {
    padding: 0px 160px 0px 300px;
  }
}
.cas-body .toggle-menu {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 0;
  top: 0;
}
@media screen and (min-width: 1024px) {
  .cas-body .toggle-menu {
    width: 80px;
    height: 100vh;
    border-left: 1px solid #fff;
  }
}
@media screen and (min-width: 1366px) {
  .cas-body .toggle-menu {
    width: 100px;
  }
}
@media screen and (min-width: 1920px) {
  .cas-body .toggle-menu {
    width: 160px;
  }
}

.title-xxl {
  position: absolute;
  font-size: 22px;
  color: #fff;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 700px) {
  .title-xxl {
    font-size: 120px;
  }
}
@media screen and (min-width: 1024px) {
  .title-xxl {
    font-size: 80px;
  }
}

.navbar {
  height: 100vh;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar > .container-logo {
  height: 50px;
  width: auto;
}
.navbar > .container-logo .logo-white,
.navbar > .container-logo .logo-colour {
  height: 100%;
  width: auto;
}
@media screen and (min-width: 1024px) {
  .navbar > .container-logo {
    width: 125px;
    height: 125px;
  }
}
.navbar > .container-menu {
  display: none;
  height: auto;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .navbar > .container-menu {
    display: flex;
    flex-wrap: wrap;
  }
}
.navbar > .container-menu > .menu {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.navbar > .container-menu > .menu > .item-menu {
  font-size: 22px;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.navbar > .container-menu > .menu > .item-menu hr {
  width: 50px;
}
.navbar > .container-menu > .menu > .item-menu a {
  text-decoration: none;
  margin-left: 10px;
  color: #fff;
}
.navbar > .container-menu > .menu > .item-menu:hover {
  opacity: 1;
  font-weight: 600;
}
.navbar > .container-menu > .menu > .item-menu:hover hr {
  opacity: 1;
  width: 60px;
  height: 3px;
}
@media screen and (min-width: 1024px) {
  .navbar > .container-menu > .menu > .item-menu {
    padding: 10px;
  }
}
@media screen and (min-width: 1366px) {
  .navbar > .container-menu > .menu > .item-menu {
    padding: 10px 0 10px 15px;
  }
}
@media screen and (min-width: 1920px) {
  .navbar > .container-menu > .menu > .item-menu {
    padding: 10px 0 10px 30px;
  }
}

.toggle-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.toggle-menu .btn-toggle {
  width: fit-content;
  height: auto;
  max-height: 60px;
  padding: 10px;
  margin: 10px auto;
  cursor: pointer;
}
.toggle-menu .btn-toggle > img,
.toggle-menu .btn-toggle > i {
  width: 100%;
  color: #fff;
  font-size: 60px;
  margin: auto;
}
.toggle-menu .btn-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.toggle-menu .txt-menu {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  margin: auto;
}
.toggle-menu .txt-menu span {
  color: #fff;
}

.mobile-menu {
  background-color: rgba(0, 0, 0, 0.8);
}
.mobile-menu .container-menu > .menu > .item-menu {
  color: #fff;
}
@media screen and (min-width: 1366px) {
  .mobile-menu {
    background-color: transparent;
  }
  .mobile-menu .container-menu > .menu > .item-menu {
    color: #fff;
    opacity: 0.5;
  }
}

.container-home {
  width: 100%;
  height: 100%;
  background-image: url("/images/background/fondo1.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  position: relative;
}
.container-home .cont-parrafo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}
.container-home .cont-parrafo .parrafo {
  color: #fff;
  font-size: 14px;
  width: fit-content;
  height: fit-content;
  padding: 20px 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .container-home .cont-parrafo {
    width: 50%;
    border-left: 1px solid #fff;
  }
}

.container-acerca {
  width: 100%;
  height: 100%;
}

.container-sustentabilidad {
  width: 100%;
  height: 100%;
  background-image: url("/images/background/fondo2.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  position: relative;
}

/*# sourceMappingURL=styles.css.map */
