@charset "UTF-8";
.container-contacto {
  width: 100%;
  height: auto;
  background: url("/images/background/fondo3.jpg") no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
}
.container-contacto::after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(30, 57, 50, 0.5);
}
.container-contacto .container-tabwizar {
  z-index: 1;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 10px;
}
.container-contacto .container-tabwizar::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 1024px) {
  .container-contacto .container-tabwizar {
    overflow: inherit;
    scroll-snap-type: none;
    scroll-padding: inherit;
  }
}
.container-contacto .container-form {
  z-index: 1;
  width: 100%;
}
.container-contacto .container-form .tab-content .tab-pane {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-contacto .container-form .tab-content .tab-pane > .title-form {
  width: 100%;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .container-contacto .container-form .tab-content .tab-pane > .title-form {
    width: 20%;
  }
}
.container-contacto .container-form .tab-content .tab-pane > form {
  width: 100%;
  padding: 50px 15px;
}
@media screen and (min-width: 1024px) {
  .container-contacto .container-form .tab-content .tab-pane > form {
    width: 80%;
  }
}

.content-title-contact {
  z-index: 1;
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content-title-contact .title-contact {
  margin: auto;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .content-title-contact .title-contact {
    font-size: 45px;
  }
}
@media screen and (min-width: 1920px) {
  .content-title-contact .title-contact {
    font-size: 80px;
  }
}

.nav-pills {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (min-width: 760px) {
  .nav-pills {
    height: 120px;
  }
}
@media screen and (min-width: 1024px) {
  .nav-pills {
    height: 160px;
  }
}
.nav-pills .nav-item {
  height: 100%;
}
.nav-pills .nav-item .nav-link {
  height: 100%;
  width: 100%;
  color: #fff !important;
  border: 1px solid #fff !important;
  border-radius: 0px !important;
  position: relative;
  font-size: 22px !important;
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  .nav-pills .nav-item .nav-link {
    padding: 0px;
  }
}
.nav-pills .nav-item .nav-link .numberTab {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #fff !important;
}
.nav-pills .nav-item .active,
.nav-pills .nav-item .nav-link:hover {
  font-weight: 600;
  background-color: #8FBD28 !important;
  border: 1px solid #8FBD28 !important;
}

.item-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}
.item-form > label {
  color: #fff;
  font-style: italic;
}
.item-form > input {
  background-color: inherit !important;
  border: none !important;
  border-bottom: 2px solid #fff !important;
  color: #fff !important;
}
.item-form > input:hover, .item-form > input:active, .item-form > input:focus {
  border: none !important;
  outline: none !important;
  border-bottom: 2px solid #fff !important;
}

.form-button {
  color: #fff;
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 20px 27px;
  background-color: inherit;
}
.form-button:hover {
  background-color: #8FBD28;
  font-weight: 600;
}

.container-sustentabilidad {
  width: 100%;
  height: 100%;
  background-image: url("/images/background/fondo2.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
}

.content-sustentabilidad {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #1E3932;
}
.content-sustentabilidad .content-sustentabilidad-title {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
@media screen and (min-width: 1024px) {
  .content-sustentabilidad .content-sustentabilidad-title {
    position: sticky;
    top: 0;
    left: 0;
  }
}
.content-sustentabilidad .content-sustentabilidad-title .title-sustentabilidad {
  font-size: 30px;
  font-weight: 600;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .content-sustentabilidad .content-sustentabilidad-title .title-sustentabilidad {
    font-size: 50px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1366px) {
  .content-sustentabilidad .content-sustentabilidad-title .title-sustentabilidad {
    font-size: 45px;
  }
}
.content-sustentabilidad .content-sustentabilidad-title .title-sustentabilidad p {
  line-height: normal;
  color: #8FBD28;
}
.content-sustentabilidad .content-sustentabilidad-title .title-sustentabilidad p:first-child {
  color: #fff !important;
}
.content-sustentabilidad .content-sustentabilidad-title .info-white {
  color: #fff;
  font-size: 18px;
}
.content-sustentabilidad .content-sustentabilidad-title .card-info {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 18px;
  color: #fff;
  padding: 20px;
}
.content-sustentabilidad .content-sustentabilidad-info {
  background-color: #fff;
  height: 100%;
}
.content-sustentabilidad .content-sustentabilidad-info .content-fundador .container-photo {
  height: 120px;
  width: 120px;
  margin: 30px 0px;
}
.content-sustentabilidad .content-sustentabilidad-info .content-fundador .container-photo > img {
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .content-sustentabilidad .content-sustentabilidad-info .content-fundador .container-photo {
    height: 180px;
    width: 180px;
  }
}
.content-sustentabilidad .content-sustentabilidad-info .content-fundador .nomb-fundador {
  font-size: 22px;
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .content-sustentabilidad .content-sustentabilidad-info .content-fundador .nomb-fundador {
    margin-top: 40px;
    font-size: 45px;
  }
}

.container-productos {
  background-color: #F9FCF4;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container-productos .content-product {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.container-productos .content-product .content-column {
  overflow: inherit;
}
@media screen and (max-width: 1024px) {
  .container-productos .content-product .content-column {
    padding: 0px;
  }
}
.container-productos .content-product .products-img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container-productos .content-product .products-img img {
  width: 100%;
  height: auto;
  margin: auto;
}
.container-productos .content-product .products-info {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 15px;
}

.container-acerca {
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgba(143, 189, 40, 0.05);
}
.container-acerca .title-section {
  height: 100vh;
}
.container-acerca .title-section > .subtitle {
  color: #006241;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 600;
}
.container-acerca .title-section > .parrafo {
  color: #55626D;
}
@media screen and (min-width: 1024px) {
  .container-acerca .title-section {
    position: sticky;
    top: 0;
    left: 0;
  }
}
.container-acerca .title-section .content-plant {
  height: 300px;
  width: 300px;
  margin: auto;
  position: absolute;
  bottom: 0;
  background-image: url("/images/ilustrativas/planta5.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom center;
  animation-name: plantaCreciendo;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
}
.container-acerca .acerca-container-infographic {
  background-color: #fff;
}
.container-acerca .acerca-container-infographic > .content-infographic-data {
  border-bottom: 1px solid #1E3932;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 0px;
}
.container-acerca .acerca-container-infographic > .content-infographic-data:last-child {
  border-bottom: none;
}
.container-acerca .acerca-container-infographic > .content-infographic-data:nth-of-type(2n) .infographic-fecha {
  color: #006241;
}
.container-acerca .acerca-container-infographic > .content-infographic-data:first-child {
  padding-top: 0px;
}
.container-acerca .acerca-container-infographic > .content-infographic-data .infographic-fecha {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  .container-acerca .acerca-container-infographic > .content-infographic-data .infographic-fecha {
    font-size: 50px;
  }
}
@media screen and (min-width: 1366px) {
  .container-acerca .acerca-container-infographic > .content-infographic-data .infographic-fecha {
    font-size: 80px;
  }
}
.container-acerca .acerca-container-infographic > .content-infographic-data .infographic-text {
  color: #55626D;
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  .container-acerca .acerca-container-infographic > .content-infographic-data {
    padding: 40px 0px;
  }
}
@media screen and (min-width: 1366px) {
  .container-acerca .acerca-container-infographic > .content-infographic-data {
    padding: 60px 0px;
  }
}

@keyframes plantaCreciendo {
  0% {
    background-image: url("/images/ilustrativas/planta5.png");
    background-size: 50%;
    @media screen and (min-width: 1024px) {
      background-size: 80%;
    }
    @media screen and (min-width: 1366px) {
      background-size: auto;
    }
  }
  25% {
    background-image: url("/images/ilustrativas/planta4.png");
    background-size: 50%;
    @media screen and (min-width: 1024px) {
      background-size: 80%;
    }
    @media screen and (min-width: 1366px) {
      background-size: auto;
    }
  }
  50% {
    background-image: url("/images/ilustrativas/planta3.png");
    background-size: 50%;
    @media screen and (min-width: 1024px) {
      background-size: 80%;
    }
    @media screen and (min-width: 1366px) {
      background-size: auto;
    }
  }
  75% {
    background-image: url("/images/ilustrativas/planta2.png");
    background-size: 50%;
    @media screen and (min-width: 1024px) {
      background-size: 80%;
    }
    @media screen and (min-width: 1366px) {
      background-size: auto;
    }
  }
  100% {
    background-image: url("/images/ilustrativas/planta1.png");
    background-size: 50%;
    @media screen and (min-width: 1024px) {
      background-size: 80%;
    }
    @media screen and (min-width: 1366px) {
      background-size: auto;
    }
  }
}
.container-acerca-mision-vision {
  background-color: #F9FCF4;
}

.container-home {
  width: 100%;
  height: 100%;
  background-image: url("/images/background/fondo1.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .container-home {
    flex-direction: row-reverse !important;
  }
}
.container-home .cont-parrafo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}
.container-home .cont-parrafo .parrafo {
  color: #fff;
  font-size: 18px;
  width: fit-content;
  height: fit-content;
  padding: 20px 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .container-home .cont-parrafo {
    width: 50%;
    border-left: 1px solid #fff;
  }
}

@font-face {
  font-family: ‘Roboto-Regular’;
  src: url("/assets/fonts/Roboto-Regular.ttf") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto-Regular", sans-serif;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

ul li {
  list-style: none;
  margin: 0px;
}

.clearfloats {
  clear: both;
}

.cas-body {
  display: flex;
  flex-direction: row;
}
.cas-body .navbar {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  min-width: 60px;
}
@media screen and (min-width: 1024px) {
  .cas-body .navbar {
    width: 150px;
    border-right: 1px solid #fff;
  }
}
@media screen and (min-width: 1366px) {
  .cas-body .navbar {
    width: 200px;
  }
}
@media screen and (min-width: 1920px) {
  .cas-body .navbar {
    width: 300px;
  }
}
.cas-body .container-main {
  height: 100%;
  width: 100%;
}
.cas-body .container-main .container-home,
.cas-body .container-main .container-acerca,
.cas-body .container-main .container-acerca-mision-vision,
.cas-body .container-main .container-sustentabilidad,
.cas-body .container-main .content-sustentabilidad,
.cas-body .container-main .container-productos,
.cas-body .container-main .container-contacto {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all ease-in-out 300ms;
  padding: 0px;
}
@media screen and (min-width: 1024px) {
  .cas-body .container-main .container-home,
.cas-body .container-main .container-acerca,
.cas-body .container-main .container-acerca-mision-vision,
.cas-body .container-main .container-sustentabilidad,
.cas-body .container-main .content-sustentabilidad,
.cas-body .container-main .container-productos,
.cas-body .container-main .container-contacto {
    padding: 0px 80px 0px 150px;
  }
}
@media screen and (min-width: 1366px) {
  .cas-body .container-main .container-home,
.cas-body .container-main .container-acerca,
.cas-body .container-main .container-acerca-mision-vision,
.cas-body .container-main .container-sustentabilidad,
.cas-body .container-main .content-sustentabilidad,
.cas-body .container-main .container-productos,
.cas-body .container-main .container-contacto {
    padding: 0px 100px 0px 200px;
  }
}
@media screen and (min-width: 1920px) {
  .cas-body .container-main .container-home,
.cas-body .container-main .container-acerca,
.cas-body .container-main .container-acerca-mision-vision,
.cas-body .container-main .container-sustentabilidad,
.cas-body .container-main .content-sustentabilidad,
.cas-body .container-main .container-productos,
.cas-body .container-main .container-contacto {
    padding: 0px 160px 0px 300px;
  }
}
.cas-body .toggle-menu {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
}
@media screen and (min-width: 1024px) {
  .cas-body .toggle-menu {
    width: 80px;
    height: 100vh;
    border-left: 1px solid #fff;
  }
}
@media screen and (min-width: 1366px) {
  .cas-body .toggle-menu {
    width: 100px;
  }
}
@media screen and (min-width: 1920px) {
  .cas-body .toggle-menu {
    width: 160px;
  }
}

.content-column {
  width: 100%;
  height: auto;
  padding: 15px;
  overflow: auto;
}
.content-column::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 700px) {
  .content-column {
    height: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .content-column {
    border-left: 1px solid #fff;
    width: 50%;
    padding: 50px;
  }
}
@media screen and (min-width: 1366px) {
  .content-column {
    padding: 60px;
  }
}
@media screen and (min-width: 1920px) {
  .content-column {
    padding: 80px;
  }
}

.title-xxl {
  position: absolute;
  font-size: 45px;
  color: #fff;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  .title-xxl {
    font-size: 80px;
    top: 45%;
    left: 54%;
  }
}

.title-green-xxl {
  font-size: 22px;
  font-weight: bold;
  color: #006241;
}
@media screen and (min-width: 1024px) {
  .title-green-xxl {
    font-size: 45px;
  }
}
@media screen and (min-width: 1920px) {
  .title-green-xxl {
    font-size: 80px;
  }
}

.title-green {
  font-size: 18px;
  font-weight: bold;
  color: #006241;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .title-green {
    font-size: 22px;
  }
}
@media screen and (min-width: 1920px) {
  .title-green {
    font-size: 45px;
  }
}

.subtitle-green,
.subtitle-green-xl {
  color: #006241;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .subtitle-green,
.subtitle-green-xl {
    margin-bottom: 40px;
  }
}

.subtitle-green {
  font-size: 16px;
}
@media screen and (min-width: 1024px) {
  .subtitle-green {
    font-size: 18px;
  }
}
@media screen and (min-width: 1920px) {
  .subtitle-green {
    font-size: 22px;
  }
}

.subtitle-green-xl {
  font-size: 30px;
}

.parrafo {
  font-size: 12px;
  color: #55626D;
}
@media screen and (min-width: 1024px) {
  .parrafo {
    font-size: 14px;
  }
}

.separador {
  width: 100%;
  color: #55626D;
  margin: 20px 0px;
}
@media screen and (min-width: 1024px) {
  .separador {
    margin-bottom: 40px;
  }
}

.content-list {
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .content-list {
    margin-bottom: 40px;
  }
}
.content-list > li {
  list-style: disc;
  color: #55626D !important;
}

.footer {
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff !important;
  padding: 20px;
}
.footer div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
}
.footer div span, .footer div i {
  margin: 0px 10px;
  font-size: 18px;
}

.navbar {
  height: 100vh;
  min-width: 60px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar > .container-logo {
  height: 50px;
  width: auto;
}
.navbar > .container-logo .logo {
  display: block;
  height: 100%;
  width: auto;
}
@media screen and (min-width: 1024px) {
  .navbar > .container-logo {
    width: 125px;
    height: 125px;
  }
}
.navbar > .container-menu {
  display: none;
  height: auto;
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .navbar > .container-menu {
    display: flex;
    flex-wrap: wrap;
  }
}
.navbar > .container-menu > .menu {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.navbar > .container-menu > .menu > .item-menu {
  font-size: 22px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.navbar > .container-menu > .menu > .item-menu hr {
  width: 50px;
  opacity: 1;
}
.navbar > .container-menu > .menu > .item-menu a {
  text-decoration: none;
  margin-left: 10px;
}
.navbar > .container-menu > .menu > .item-menu:hover {
  font-weight: 600;
}
.navbar > .container-menu > .menu > .item-menu:hover hr {
  width: 60px;
  height: 3px;
}
@media screen and (min-width: 1024px) {
  .navbar > .container-menu > .menu > .item-menu {
    padding: 10px;
  }
}
@media screen and (min-width: 1366px) {
  .navbar > .container-menu > .menu > .item-menu {
    padding: 10px 0 10px 15px;
  }
}
@media screen and (min-width: 1920px) {
  .navbar > .container-menu > .menu > .item-menu {
    padding: 10px 0 10px 30px;
  }
}

.navbar-white > .container-logo > .logo {
  background: url(/assets/logo-blanco.svg) no-repeat center;
}
.navbar-white > .container-menu > .menu > .item-menu {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-white > .container-menu > .menu > .item-menu a {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-white > .container-menu > .menu > .item-menu .active a, .navbar-white > .container-menu > .menu > .item-menu .active hr, .navbar-white > .container-menu > .menu > .item-menu:hover a, .navbar-white > .container-menu > .menu > .item-menu:hover hr {
  color: #fff;
}

.navbar-green > .container-logo > .logo {
  background: url(/assets/logo-color.svg) no-repeat center;
}
.navbar-green > .container-menu > .menu > .item-menu {
  color: rgba(85, 98, 109, 0.5);
}
.navbar-green > .container-menu > .menu > .item-menu hr, .navbar-green > .container-menu > .menu > .item-menu a {
  color: rgba(85, 98, 109, 0.5);
}
.navbar-green > .container-menu > .menu > .item-menu .active a, .navbar-green > .container-menu > .menu > .item-menu:hover a {
  color: #55626D;
}

.toggle-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.toggle-menu .btn-toggle {
  width: fit-content;
  height: auto;
  max-height: 60px;
  padding: 10px;
  margin: 10px auto;
  cursor: pointer;
}
.toggle-menu .btn-toggle > img,
.toggle-menu .btn-toggle > i {
  width: 100%;
  color: #fff;
  font-size: 60px;
  margin: auto;
}
.toggle-menu .btn-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.toggle-menu .txt-menu {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  margin: auto;
}
.toggle-menu .txt-menu span {
  color: #fff;
}

.mobile-menu {
  background-color: #1E3932;
}
.mobile-menu .container-menu > .menu > .item-menu {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .mobile-menu {
    background-color: transparent;
  }
  .mobile-menu .container-menu > .menu > .item-menu {
    color: #fff;
    opacity: 0.5;
  }
}

/*# sourceMappingURL=styles.css.map */
