@import "variables";

.container-home{
    width: 100%;
    height: 100%;

    background-image: url("/images/background/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    
    position: relative;

    .cont-parrafo{
        height: 100%;  
        width: 100%;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
                
        align-items: flex-end;

        .parrafo{
            color: #fff;
            font-size: $font-size-short;
            
            width: fit-content;
            height: fit-content;
            
            padding: 20px 30px;
            margin-bottom: 30px;
        }

        @media  screen and (min-width: 1024px) {
            width: 50%;
            border-left: 1px solid #fff;
        }
    }
}