@import "variables";

// esto se puede tomar desde la cdn de google fonts que es gratis
@font-face {
    font-family: ‘Roboto-Regular’;
       //src: url('fonts/ Nombre de la fuente.eot');
       src: /*url('fonts/ Nombre de la fuente.eot?#iefix') format('embedded-opentype'),
            url('fonts/ Nombre de la fuente.woff') format('woff'),
            url('fonts/ Nombre de la fuente.ttf') format('truetype'),*/
            url('/assets/fonts/Roboto-Regular.ttf') format('svg');
      font-weight: normal;
      font-style: normal;
}

* {
    box-sizing: border-box;
    //transition: all ease-in-out 300ms;
}

html, body {
    font-family: 'Roboto-Regular', sans-serif;
    width: 100%;
    height: 100%;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

ul li{
    list-style: none;
    margin: 0px;
}

.clearfloats{ 
    clear:both;
}

.cas-body{
    display: flex;
    flex-direction: row;

    .navbar{
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        height: 100%;
        min-width: 60px;
                
        @media screen and (min-width: 1024px){
            width: 150px; 
            border-right: 1px solid #fff;
        }
        @media screen and (min-width: 1366px){
            width: 200px; 
        }
        @media screen and (min-width: 1920px){
            width: 300px; 
        }      
    }

    .container-main{
        height: 100%;
        width: 100%;

        .container-home,
        .container-acerca,
        .container-acerca-mision-vision,
        .container-sustentabilidad,
        .content-sustentabilidad,
        .container-productos,
        .container-contacto{
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            transition: all ease-in-out 300ms;
            padding: 0px;
            
            @media screen and (min-width: 1024px){
                padding: 0px 80px 0px 150px;                               
            }

            @media screen and (min-width: 1366px){
                padding: 0px 100px 0px 200px; 
            }  

            @media screen and (min-width: 1920px){
                padding: 0px 160px 0px 300px; 
            }  
        }                        
    }

    .toggle-menu{        
        width: 60px;
        height: 60px;
        position: fixed;        
        right: 0;
        top: 0;
        
        @media screen and (min-width: 1024px){
            width: 80px;
            height: 100vh; 
            border-left: 1px solid #fff;
        }
        @media screen and (min-width: 1366px){
            width: 100px;
        }  
        @media screen and (min-width: 1920px){
            width: 160px;
        }  
    }
}

.content-column{
    width: 100%;
    height: auto;
    padding: 15px;
    overflow: auto;    
    
    &::-webkit-scrollbar {
        display: none;
    }

    @media  screen and (min-width: 700px) {
        height: 100%;        
    }

    @media  screen and (min-width: 1024px) {
        border-left: 1px solid #fff;
        width: 50%;
        padding: 50px;        
    }

    @media  screen and (min-width: 1366px) {         
        padding: 60px;
    }

    @media  screen and (min-width: 1920px) {         
        padding: 80px;
    }
}

.title-xxl{
    position: absolute;
    font-size: $font-size-xlarge;
    color: #fff;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    @media screen and (min-width: 1024px) {
        font-size: $font-size-xxlarge;
        top: 45%;
        left: 54%;        
    }
}

.title-green-xxl{
    font-size: $font-size-large;
    font-weight: bold;
    color: $color-green;

    @media screen and (min-width: 1024px) {
        font-size: $font-size-xlarge;
    }
    
    @media screen and (min-width: 1920px) {
        font-size: $font-size-xxlarge;
    }
}

.title-green{
    font-size: $font-size-medium;
    font-weight: bold;
    color: $color-green;
    margin-bottom: 20px;
    
    @media screen and (min-width: 1024px) {
        font-size: $font-size-large;
    }
    @media screen and (min-width: 1920px) {
        font-size: $font-size-xlarge;
    }
}

.subtitle-green,
.subtitle-green-xl{
    color: $color-green;
    
    font-weight: bold;
    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 40px;
    }
}

.subtitle-green{
    font-size: 16px;
        
    @media screen and (min-width: 1024px) {
        font-size: $font-size-medium;
    }
    @media screen and (min-width: 1920px) {
        font-size: $font-size-large;
    }
}

.subtitle-green-xl{
    font-size: 30px;
}

.parrafo{
    font-size: 12px;
    color: $color-gray;

    @media screen and (min-width: 1024px) {
        font-size: $font-size-short;
    }
}

.separador{
    width: 100%;
    color: $color-gray;
    margin: 20px 0px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 40px;
    }
}

.content-list{
    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 40px;
    }

    > li{
        list-style: disc;
        color: $color-gray !important;                
    }
} 

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #fff !important;
    padding: 20px;

    div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: #fff;

        span,i{
            margin: 0px 10px;
            font-size: $font-size-medium;
        }
    }    
}