$color-darkgreen: #1E3932;
$color-green: #006241;
$color-lightgreen: #8FBD28;
$color-blanco: #fff;
$color-gray: #55626D;

$font-family: "Sharp Sans", sans-serif;
$font-size-xxlarge: 120px;
$font-size-xlarge: 80px;
$font-size-large: 22px;
$font-size-medium: 18px;
$font-size-short: 14px;